

/* ============
      base
==============*/

// $primary-color: #eb2f64;

//sass variables - will be available for all elements
:root {
  --color-primary: #ca607f;
  --color-primary-light: #ecc78f;
  --color-primary-dark: #c58191;

  --color-grey-light-1: #faf9f9;
  --color-grey-light-2: #f4f2f2;
  --color-grey-light-3: #f0eeee;
  --color-grey-light-4: #ccc;

  --color-grey-dark-1: #4a4a4a;
  --color-grey-dark-2: #777;
  --color-grey-dark-3: #999;

  --color-white: #fff;

  --shadow-dark: 0 2rem 6rem rgba(0,0,0,.3);
  --shadow-light: 0 2rem 5rem rgba(0,0,0,.06);

  --line: 1px solid var(--color-grey-light-2);
}

$bp-largest: 75em;     // 1200px
$bp-large: 68.75em;    // 1100px
$bp-medium: 56.25em;   // 900px
$bp-small: 37.5em;     // 600px
$bp-smallest: 31.25em; // 500px

* {
  margin: 0;
  padding: 0;
}

*, 
*::after,
*::before {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%; //global font size - 1rem = 16px

  @media only screen and (max-width: $bp-large) {
    font-size: 50%; //8/16px = 50
  }
}

body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  line-height: 1.6;
  color: var(--color-grey-dark-1);
  background-image: linear-gradient(to right bottom, var(--color-primary-light), var(--color-primary-dark));
  background-size: cover;
  background-repeat: no-repeat;

  min-height: 100vh;
}

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  // background-color: $primary-color;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: var(--color-primary);
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


/* ============
    layout
==============*/

.container {
  max-width: 120rem;
  margin: 8rem auto;
  background-color: var(--color-grey-light-1);
  box-shadow: var(--shadow-dark);

  min-height: 50rem;

  @media only screen and (max-width: $bp-largest) {
    margin: 0;
    max-width: 100%;
    width: 100%;
  }
}

.header {
  height: 7rem;
  background-color: var(--color-white);
  border-bottom: 1px solid var(--color-grey-light-2);

  display: flex;
  justify-content: space-between;
  align-items: center;

  @media only screen and (max-width: $bp-smallest) {
    flex-wrap: wrap;
    align-content: space-around;
    height: 11rem;
  }
}

.content {
  display: flex;

  @media only screen and (max-width: $bp-medium) {
    flex-direction: column;
  }
}

.sidebar {
  background-color: var(--color-grey-dark-1);
  flex: 0 0 18%;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.view {
  flex: 1; 
}

.hotels-view {
  flex: 1;
  height: 80rem;
}

.hotel-view {
    background-color: var(--color-white);
    flex: 1; 
}

.detail {
  display: flex;
  font-size: 1.4rem;
  padding: 4.5rem;
  background-color: var(--color-grey-light-1);
  border-bottom: var(--line);

  @media only screen and (max-width: $bp-medium) {
    padding: 3rem;
  }
  @media only screen and (max-width: $bp-small) {
    flex-direction: column;
  }
}

.hotels {
  display: flex;
  flex-direction: column;
  font-size: 1.4rem;
  padding: 4.5rem;
  background-color: var(--color-grey-light-1);
}

.spinner {
  flex: 1;
  height: 80rem;
  display: flex;
  align-items: center;
  justify-content: center;

  &__gif {
    width: 15rem;
    margin: 0 auto;
    display: block;
  }
}

.description {
  flex: 0 0 60%;
  margin-right: 4.5rem;
  background-color: var(--color-white);
  padding: 3rem;
  box-shadow: var(--shadow-light);

  @media only screen and (max-width: $bp-medium) {
    padding: 2rem;
    margin-right: 3rem;
  }
  @media only screen and (max-width: $bp-small) {
    margin-right: 0;
    margin-bottom: 3rem;
  }
}

.user-reviews {
  flex: 1;
 
  display: flex;    //to center the show all button
  flex-direction: column;
  align-items: center;
}


/* ============
   components
==============*/


/*=========
    LOGO
==========*/
.logo {
  height: 3.25rem;
  margin-left: 2rem;

  @media only screen and (max-width: $bp-smallest) {
    margin-top: .5rem;
  }
}

/*===========
  SEARCH
============*/
.search {
  flex: 0 0 40%; //width of the search bar

  display: flex; // item becomes a container
  align-items: center; //center along the cross axis
  justify-content: center; //center along the main axis

  @media only screen and (max-width: $bp-small) {
    order: 1;   //change the position of the search
    flex: 0 0 100%;
    background-color: var(--color-grey-light-2);
  }

  &__input {
    font-family: inherit; //doesn't inherit from global
    font-size: 1.3rem;
    color: inherit;
    background-color: var(--color-grey-light-2);
    border: none;
    padding: .9rem 2rem ;
    border-radius: 100px;
    width: 90%;
    margin-right: -3.25rem;
    transition: all .2s;

      &:focus {
        outline: none; //blue border
        width: 100%;
        background-color: var(--color-grey-light-3);
      }

      &::-webkit-input-placeholder {
        font-weight: 100;
        color: var(--color-grey-light-4);
      }
  }

  &__input:focus + &__button{
    background-color: var(--color-grey-light-3);
  }

  &__button {
    border: none;
    background-color: var(--color-grey-light-2);

    &:focus {
        outline: none; 
    }

    &:active { //is clicked
        transform: translateY(2px);
    }
  }

  &__icon {
    height: 2rem;
    width: 2rem;
    fill: var(--color-grey-dark-3);
  }
}

/*====================
  USER NAVIGATION
=====================*/
.user-nav {
  display: flex;
  align-items: center;
  align-self: stretch;

  & > * {
    padding: 0 2rem;
    cursor: pointer;
    height: 100%;

    display: flex;
    align-items: center;

    @media only screen and (max-width: $bp-smallest) {
      margin-bottom: -1rem;
    }
  }

  & > *:hover {
    background-color: var(--color-grey-light-2);
  }

  &__icon-box {
    position: relative;
  }

  &__icon {
    height: 2.25rem;
    width: 2.25rem;
    fill: var(--color-grey-dark-2);
  }

  &__notification {
    font-size: .8rem;
    height: 1.75rem;
    width: 1.75rem;
    border-radius: 50%;
    background-color: var(--color-primary);
    color: var(--color-white);
    position: absolute;
    top: 1.5rem;
    right: 1.1rem;

    display: flex;
    justify-content: center;
    align-items: center;

    @media only screen and (max-width: $bp-smallest) {
      top: 0rem;
      right: 1rem;
    }
  }

  &__user-photo {
    height: 3.75rem;
    width: 3.65rem;
    border-radius: 50%;
    margin-right: 1rem;
  }
}

/*======================
    SIDE NAVIGATION
=======================*/
.side-nav {
  font-size: 1.4rem;
    list-style: none;
    margin-top: 3.5rem;

    @media only screen and (max-width: $bp-medium) {
      display: flex;
      margin: 0;
    }

    &__item {
      position: relative;

      &:not(:last-child) {
        margin-bottom: .5rem;

        @media only screen and (max-width: $bp-medium) {
            margin: 0;
        }
      }

      @media only screen and (max-width: $bp-medium) {
          flex: 1;
      }
    }

    &__item::before{
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      height: 100%; 
      width: 3px;
      background-color: var(--color-primary);
      transform: scaleY(0);
      transition: transform .2s,
      width .4s cubic-bezier(1,0,0,1) .2s     //delay
      background-color .1s ; 
    }

    &__item:active::before {
      background-color: var(--color-primary-dark);
    }

    &__item:hover::before,
    &__item--active::before  {
      transform: scaleY(1);
      width: 100%;
    }

    &__link:link,
    &__link:visited {
      color: var(--color-grey-light-1);
      text-decoration: none;
      text-transform: uppercase;
      display: block;
      padding: 1.5rem 3rem;
      position: relative; //need for z-index
      z-index: 10;

      display: flex;
      align-items: center;

      @media only screen and (max-width: $bp-medium) {
        justify-content: center;
        padding: 2rem;
      }

      @media only screen and (max-width: $bp-small) {
        flex-direction: column;
        padding: 1rem .5rem;
      }
    }
  &__icon {
    width: 1.75rem;
    height: 1.75rem;
    margin-right: 2rem;
    fill: currentColor;

    @media only screen and (max-width: $bp-small) {
      margin-right: 0;
      margin-bottom: .5rem;
      width: 1.5rem;
      height: 1.5rem;
    }
  }
}

/*=================
  LEGAL TEXT
===================*/

.legal {
  font-size: 1.2rem;
  color: var(--color-grey-light-4);
  text-align: center;
  padding: 2.5rem;

  @media only screen and (max-width: $bp-medium) {
    display: none;
  }
}

/* ============
    HOTELS
==============*/

.hotels__details {
  flex: 0 0 60%;
  border-bottom: 1px solid var(--color-grey-light-2);
  background-color: #fff;
  background-color: var(--color-white);
  padding: 1.5rem;
  box-shadow: 0 2rem 5rem rgba(0,0,0,.06);
  box-shadow: var(--shadow-light);

  display: flex;
  align-items: center;
}

.hotels {

  &__photo {
    box-sizing: content-box; //as border takes some width
    height: 10rem;
    width: 15rem;
    border: 3px solid var(--color-white);
    margin-right: 1.5rem;
  }
  
  &__link {
    text-decoration: none;
    color: var(--color-grey-dark-1);
  }


  &__info {
    margin-right: 1.5rem;
    margin-right: auto;

    display: flex;
    flex-direction: column;
  }

  &__name {
    font-size: 1.5rem;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-right: auto;
  }

  &__location {
    font-size: 1.1rem;
    color: var(--color-grey-dark-3);
    // text-transform: uppercase;
  }

  &__stars {
    // display: flex;
    margin-top: 10px;
    margin-left: -1.5px;
  }
  // &__score {
  //   color: var(--color-primary);
  //   font-size: 1.5rem;
  //   font-weight: 300;
  // }
  &__price {
    color: var(--color-primary);
    font-size: 2.2rem;
    font-weight: 300;
  }
}


/*==============
    GALLERY
===============*/

.gallery {
  display: flex;

  &__photo {
    width: 100%;
    max-width: 50rem;
    min-height: 100%;
    display: block;
  }
}


/*===================
    HOTEL OVERVIEW
====================*/

.overview {
  display: flex;
  align-items: center;
  border-bottom: var(--line);

  &__heading { 
    font-size: 2.25rem;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 1px;
    padding: 1.5rem 3rem;

    @media only screen and (max-width: $bp-small) {
      font-size: 1.8rem;
      padding: 1.25rem 2rem;
    }
  }

  &__stars {
    margin-right: auto;
    display: flex;
  }

  &__icon-star,
  &__icon-location {
    width: 1.75rem;
    height: 1.75rem;
    fill: var(--color-primary);
  }

  &__location {
    font-size: 1.2rem; 
    display: flex;
    align-items: center;
  }

  &__icon-location {
    margin-right: .5rem;
  }

  &__rating {
    background-color: var(--color-primary);
    color: var(--color-white);
    margin-left : 3rem;
    align-self: stretch; //for rating box
    padding: 0 2.25rem;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    @media only screen and (max-width: $bp-small) {
      padding: 0 1.5rem;
    }
  }

  &__rating-average {
    font-size: 2.25rem;
    font-weight: 300;
    margin-top: -5px;
    margin-bottom: -3px;

    @media only screen and (max-width: $bp-small) {
      font-size: 1.8rem;
    }
  }

  &__rating-count {
    font-size: .8rem;
    text-transform: uppercase;

    @media only screen and (max-width: $bp-small) {
      font-size: .5rem;
    }
  }
}

/*===================
  BUTTON INLINE
====================*/
.btn-inline {
  border: none;
  color: var(--color-primary);
  // font-size: inherit;
  font-size: 1.5rem;
  border-bottom: 1px solid currentColor; //will have the color of the text
  padding-bottom: 2px;
  margin: 0 auto;
  display: block;
  background-color: transparent;
  cursor: pointer;
  transition: all .2s;

  & span {    //to move the arrow on the button
    margin-left: 3px;
    transition: margin-left .2s;
  }

  &:hover {
    color: var(--color-grey-dark-1);

    & span {
      margin-left: 8px;
    }
  }
}

@keyframes pulsate {
  0% {
    transform: scale(1);
    box-shadow: none;
  }

  50% {
    transform: scale(1.05);
    box-shadow: 0 1rem 4rem rgba(0, 0, 0, .25);
  }

  100% {
    transform: scale(1);
    box-shadow: none;
  }
}



/*===============
    PARAGRAPH
================*/
.paragraph:not(:last-of-type) {
  margin-bottom: 2rem;
}
/*==========
  LIST
===========*/
.list {
  list-style: none;
  margin: 3rem 0;
  padding: 3rem 0;
  border-top: var(--line);
  border-bottom: var(--line);

  display: flex;
  flex-wrap: wrap;

  &__item {
    flex: 0 0 50%;
    margin-bottom: .7rem;
  }

  &__item::before {   //adding icon
    content: "";
    display: inline-block;
    height: 1rem;
    width: 1rem;
    margin-right: .7rem;

    // Older browsers
    background-image: url(./chevron-thin-right.svg);
    background-size: cover;

    @supports (-webkit-mask-image: url()) or (mask-image: url()) {
      background-color: var(--color-primary);
      -webkit-mask-image:  url(./chevron-thin-right.svg);
      -webkit-mask-size: cover;
      mask-image: url(./chevron-thin-right.svg);
      mask-size: cover;
      background-image: none;
    }          
  }
}

/*==============
  RECOMMEND
===============*/
.recommend {
  font-size: 1.3rem;
  color: var(--color-grey-dark-3);

  display: flex;
  align-items: center;

  &__count {
    margin-right: auto;
  }

  &__friends {
    display: flex;
  }

  &__photo {
    box-sizing: content-box; //as border takes some width
    height: 4rem;
    width: 4rem;
    border-radius: 50%;
    border: 3px solid var(--color-white);

    &:not(:last-child) {
      margin-right: -2rem; 
    }
  }
}

/*==============
    REVIEWS
===============*/
.review {
  background-color: var(--color-white);
  box-shadow: var(--shadow-light);
  padding: 3rem;
  margin-bottom: 3.5rem;
  position: relative;
  overflow: hidden;

  @media only screen and (max-width: $bp-medium) {
    padding: 2rem;
    margin-bottom: 3rem;
  }

  &::before {
    content: "\201C";
    position: absolute;
    top: -2.75rem;
    left: -1rem;
    line-height: 1;
    font-size: 20rem;
    font-family: sans-serif;
    color: var(--color-grey-light-2);
    z-index: 1;
  }

  &__text {
    margin-bottom: 2rem;
    z-index: 10; 
    position: relative;
  }

  &__photo {
    width: 4.5rem;
    height: 4.5rem;
    border-radius: 50%;
    margin-right: 1.5rem;
  }

  &__user {
    display: flex;
    align-items: center;
  }

  &__user-box {
    margin-right: auto;
  }

  &__user-name {
    font-size: 1.1rem;
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: .4rem;
  }

  &__user-date {
    font-size: 1rem;
    color: var(--color-grey-dark-3);
  }

  &__rating {
    color: var(--color-primary);
    font-size: 2.2rem;
    font-weight: 300;
  }
}


/*====================
    CALL TO ACTION
=====================*/

.cta {
  padding: 3.5rem 0;
  text-align: center;

  @media only screen and (max-width: $bp-medium) {
    padding: 2.5rem 0;
  }

  &__book-now {
    font-size: 2rem;
    font-weight: 300;
    text-transform: uppercase;
    margin-bottom: 2.5rem;
  }
}

.btn {
  font-size: 1.5rem;
  font-weight: 300;
  text-transform: uppercase;
  border-radius: 100px;
  border: none;
  background-image: linear-gradient(to right, var(--color-primary-light), var(--color-primary));
  color: var(--color-white);
  position: relative;
  overflow: hidden; //to remove invisible from the text above the button
  cursor: pointer;

  & > * {
    display: inline-block; 
    height: 100%;
    width: 100%;
    transition: all .2s;
  }

  &__visible {
    padding: 2rem 7rem;
  }

  &__invisible {
    padding: 2rem 0;
    position: absolute;
    top: -100%;
    left: 0;   
  }

  &:hover {
    background-image: linear-gradient(to left, var(--color-primary-light), var(--color-primary));
  }

  &:hover &__visible {
    transform: translateY(100%)
  }

  &:hover &__invisible {
    top: 0;
  }

  &:focus {
    outline: none;
    animation: pulsate 1s infinite;
  }
}